body {
  margin: 0em 0em 0em 0em;
  display: grid;
}
#hidden {
  background-color: #FF928B;
}
#hidden div, button {
  display: inline-block;
  margin-bottom: 20px;;
}
#getApiKey {
  background-color: lightgreen;
  border-radius: 20px;
  width: 6.3em;
  height:3em;
  text-align: center;
}
header {
  height: 30em;
  background-color: #FFAC81;
}
main {
  background-color: #FF928B;
}
h1 {
  text-align: center;
  font-size: 4em;
  margin-top: 0em;
  margin-bottom: 0em;
}
img {
  height: 21em;
  width: 100%;
  margin-bottom: 1em;
}
button {
  padding: 1em;
  width: 9.2em;
  border-radius: 20px;
  background-color: #FEC3A6;
  outline: none;
  margin-left: 2em;
}
button:hover {
  opacity: 0.8;
  font-weight: bold;
}
input {
  background-color: #CDEAC0;
  border-radius: 20px;
  width: 20em;
  height: 3em;
  margin-bottom: 1em;
  outline: none;
}
span {
  font-weight: bold;
  font-size: 1em;
}
div * {
  margin-left: 2em;
}
p {
  border: solid black 1px;
  margin: 1em 1em 2em 1em;
  opacity: 0.2;
}
div * {
  margin-top: 2em;
  margin-bottom: 2em;
}

li {
  display: inline-block;
  width: 70%;
  list-style: none;
  font-family: 'EB Garamond', serif;
  border-radius: 10px;
  background-color: #FAF5BA;
  padding: 0.7em;
  margin: 1em;
}
footer {
  height: 10em;
}

@media (min-width: 511px) and (max-width: 730px) {

  #containerAddBook * {
    margin: 2em 0em 0em 2em;
    display: block;
  }
  li {
    width: 60%;
    margin-left: 0em;
  }

}

@media (max-width: 510px) {

  h1 {
    font-size: 3em;
    text-align: center;
    height: auto;
    display: block;
  }
  span {
    text-align: center;
  }
  div * {
    margin: 0em auto 1em auto;
    display: block;
  }
  li {
    margin-right: 2em;;
  }
  input {
    width: 80%;
  }
};
